.nav {
  height: 50px;
  background-color: #18181A;
  color: #efeff1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.nav__logo {
  color: #A970FF;
}